


/*
====================================
[ CSS TABLE CONTENT ]
------------------------------------
    1.0 - General
    2.0 - Typography
    3.0 - Global Style
-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/



/* =-=-=-=-=-=-= General =-=-=-=-=-=-= */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #202020;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
    position: relative;
}


html,
body {
    width: 100%;
    height: 100%;
}


/* Link style
/* ------------------------------ */
a {
    color: #0080e1;
}
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}
a:hover {
    color: #C02232;
}
/* Transition elements
/* ------------------------------ */
.form-control {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

/* Reset box-shadow
/* ------------------------------ */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.btn {
  border-radius: 0;
}
.btn-primary {
  background-color: #0080e1;
  border-color: #0080e1;
}
.btn-primary.active, 
.btn-primary.focus, 
.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary {
  background-color: #C02232;
  border-color: #C02232;
}


.btn-group-lg>.btn, 
.btn-lg {
  padding: 12px 16px;
}

.btn:focus,
button:focus {
    outline: none !important;
}

.alert {
  padding: 10px 15px;
  border-radius: 0;
}




/* =-=-=-=-=-=-= Typography =-=-=-=-=-=-= */

h1, h2, h3, h4, h5, h6{
    margin: 0 0 15px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

ul {
    margin:0;
    padding:0;
    list-style: none;
}


/* =-=-=-=-=-=-= Form Style =-=-=-=-=-=-= */
.form-group {
  margin-bottom: 30px;
}
.form-control {
  min-height: 50px;
  padding: 6px 20px;
  font-weight: 300;
  color: #202020;
  background: transparent;
  border: 1px solid #DFDFDF;
  border-radius: 0;
}
.form-control:focus {
  border-color: #ff2a40;
}



/* =-=-=-=-=-=-= navigation =-=-=-=-=-=-= */
.navigation{
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -70px;
    z-index: 1;
    min-width: 110px;
    text-align: center;
}
.navigation ul li{
  min-height: 20px;
  margin-bottom: 15px;
}
.navigation ul li a{
  position: absolute;
  right: 0;
  background: transparent;
  width: 10px;
  height: 10px;
  border: 2px solid #0080e1;
  border-radius: 100%;
  font-size: 12px;
  color: #fff;
  text-indent: -100px;
  overflow: hidden;
  padding: 0;
  -webkit-transition: text-indent 300ms;
  -moz-transition: text-indent 300ms;
  -o-transition: text-indent 300ms;
  -ms-transition: text-indent 300ms;
  transition: text-indent 300ms;
}

.navigation ul li a:hover,
.navigation ul li.active a{
    background: #0080e1;
    width: 100%;
    height: auto;
    border-radius: 0;
    text-indent: inherit;
    padding: 0 8px;
    margin-top: -8px;
}
.navigation .nav>li>a:focus {
    background: #0080e1;
}
.navigation ul li a i {
  margin-right: 5px;
}


/* =-=-=-=-=-=-= home-section =-=-=-=-=-=-= */
.home-section {
    background: url(lore.jpg)/*tpa=http://perfectweb.su/assets/images/slider/ipad.jpg*/ #333 center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.home-section::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


.content-wrapper {
    display: table;
    position: relative;
    z-index: 2;
    height: 100%;
    margin:0 auto;
}

.content-wrapper > div.valign{
    display: table-cell;
    vertical-align: middle;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}



/* =-=-=-=-=-=-= Main Content =-=-=-=-=-=-= */
.logo {
    margin-bottom: 60px;
}
.home-title {
  margin-bottom: 50px;
}
.home-title h1 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}
.home-title h1 span{
    font-weight: 900;
}
.home-title h1 span.red{
    color: #0080e1;
}
.home-title p {
    margin: 0;
    color: #fff;
}



/* =-=-=-=-=-=-= countdown =-=-=-=-=-=-= */
.countdown-wrapper {
    margin-bottom: 38px;
}
#countdown {
    overflow: hidden;
}
#countdown li {
  display: inline-block;
  margin-right: 75px;
}
#countdown li p{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}
#countdown li:last-child {
  margin-right: 0
}
#countdown li span {
  font-size: 40px;
  font-weight: 900;
  color: #0080e1;
}
#countdown li span:hover {
    cursor: pointer;
}

/*subscribe-wrapper*/
.subscribe-wrapper {}
.subscribe-wrapper .btn{
    padding: 9px 36px;
    font-weight: 700;
    text-transform: uppercase;
}

/*tt-modal*/
body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
.modal-backdrop {
    background: #fff;
}
.tt-modal-content {
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  position: absolute;
  width: 44%;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 40%;
  margin-top: -80px;
  padding: 20px;
  border: 10px solid rgba(132, 142, 135, 0.10);
}
.modal-header {
  padding: 0 0 15px;
  border-bottom: 0;
}
.modal-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #202020;
}
.tt-modal-content .btn-lg {
    height: 45px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.tt-modal-content .form-control {
    min-height: 45px;
}
.close:focus, 
.close:hover {
  color: #0080e1;
  filter: alpha(opacity=100);
  opacity: 1;
}
.subscription-success {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
  text-align: left;
}
.subscription-success {
  color: #3c763d;
}
.subscription-success i {
  margin-right: 6px;
  font-size: 16px;
}

/*tt-modal end*/




.section-title h2 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #0080e1;
}


/* --------------------------------------
service-section
------------------------------------------*/
.service-section {
  padding: 100px 0;
}
.service-section .section-title{
  margin-bottom: 70px;
}
.service-block {
  margin-top: 30px;
}
.service-block h3 {
    font-weight: 900;
    text-transform: uppercase;
}
.service-block h3 i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #0080e1;
    margin-right: 15px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.service-block:hover h3 i {
    color: #0080e1;
    background-color: #fff;
}



/* --------------------------------------
about-section
------------------------------------------*/
.about-section {
  padding: 100px 0;
  background-color: #ececec;
}
.about-content {
  margin: 35px 0 40px;
}
.about-content p{
    margin-bottom: 20px;
}

/*progress bar*/
.skill-progress {}
.skill-title {
    display: block;
    margin-bottom: 3px;
    font-weight: 700;
}
.progress {
  height: 6px;
  margin-bottom: 15px;
  background-color: #bbb;
  border-radius: 0;
  box-shadow: none;
}
.progress-bar {
    background-color: #0080e1;
    box-shadow: none;
}
.progress .progress-bar.six-sec-ease-in-out {
  -webkit-transition: width 2s ease-in-out;
  -moz-transition: width 2s ease-in-out;
  -o-transition: width 2s ease-in-out;
  transition:  width 2s ease-in-out;
}



/* --------------------------------------
contact-section
------------------------------------------*/
.contact-section {
  padding: 100px 0;
}
.contact-section .section-title {
  margin-bottom: 50px;
}
#contactForm textarea {
  min-height: 150px;
  padding: 15px 20px;
  line-height: inherit;
}

#contactForm .btn {
  font-weight: 600;
  height: 50px;
  min-width: 300px;
  border-radius: 30px;
}






/* =-=-=-=-=-=-= Footer Section =-=-=-=-=-=-= */

.footer-section {
    padding: 135px 0;
    background-color: #202020;
    color: #fff;
    position: relative;
}
.footer-section p{
    font-size: 16px;
    line-height: 30px;
    color: #b5b5b5;
}
.footer-logo h2{
  font-size: 46px;
  line-height: 54px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.footer-logo h2 a {
  color: #fff;
}
.footer-logo p{
    margin-bottom: 26px;
}
.copyright {
    margin-top: 26px;
}
.copyright p {
    margin: 0;
}


@media only screen and (max-width : 479px) {
  .social-icon ul li {
    margin-bottom: 12px;
  }
}
.social-icon ul li a{
  display: block;
  font-size: 20px;
  line-height: 38px;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-color: #fff;
}
.social-icon ul li a:hover{
  color: #0080e1;
  border-color: transparent;
  background-color: #fff;
}










/* =-=-=-=-=-=-= Text animation delay =-=-=-=-=-=-= */
.delay-1 {
    -webkit-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    animation-delay: 200ms;
}

.delay-2 {
    -webkit-animation-delay: 400ms;
    -moz-animation-delay: 400ms;
    animation-delay: 400ms;
}

.delay-3 {
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    animation-delay: 600ms;
}


/* =-=-=-=-=-=-= Preloader =-=-=-=-=-=-= */
#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(preloder.gif)/*tpa=http://perfectweb.su/assets/images/preloder.gif*/;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

.button333 {
-webkit-appearance: none;
-webkit-font-smoothing: antialiased;
-webkit-user-select: none;
align-items: flex-start;
background-color: rgb(243, 77, 101);
background-image: none;
border-bottom-color: rgb(243, 77, 101);
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(243, 77, 101);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(243, 77, 101);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(243, 77, 101);
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-top-style: solid;
border-top-width: 1px;
box-shadow: none;
box-sizing: border-box;
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: 600;
height: 50px;
letter-spacing: normal;
line-height: 24px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
min-width: 300px;
overflow-x: visible;
overflow-y: visible;
padding-bottom: 12px;
padding-left: 16px;
padding-right: 16px;
padding-top: 12px;
text-align: center;
text-indent: 0px;
text-rendering: auto;
text-shadow: none;
text-transform: none;
touch-action: manipulation;
transition-delay: 0s;
transition-duration: 0.4s;
transition-property: all;
transition-timing-function: ease-in-out;
vertical-align: middle;
white-space: nowrap;
width: 300px;
word-spacing: 0px;
writing-mode: lr-tb;
-webkit-writing-mode: horizontal-tb;
}